html {
    margin: 0 auto;
    padding: 0px;
    
    font: normal 100%/1.4 Georgia, serif;
}

body {
    color: #212F3D;
    margin: 10px;
}

.main-header {
    margin: 0 auto;
    text-align: center;
}

.current {
    text-decoration: underline;
}

.nav {
    margin: 0px;
    padding: 5px;
    background-color: #212F3D;
    list-style-type: none;

}

.nav > li {
    display: inline-block;
    padding: 3px 20px;
    text-decoration: none;
}

.nav li a {
    text-decoration: none;
    color: #FFF;
    display: block;
    padding: 0px;
    transition: .2s color;
}

.nav li a:active {
    text-decoration: none;
    color: #edeff1;
}


.nav li a:hover {
    text-decoration: none;
    color: #edeff1;
}

.nav-top {
    font-size: 1.25rem;
}

.definitions {
    border: 1.5px solid black;
    margin: 0 auto;
    padding: 10px;
}
