html {
    margin: 10px;
    padding: 10px;
    
    font: normal 100%/1.4 Georgia, serif;
}

body {
    color: #212F3D;
}

.current {
    text-decoration: underline;
}

.nav {
    margin: 0 auto;
    padding: 10px;
    color: #212F3D;
    background-color: #F8F9F9;
    list-style-type: none;

}

.nav > li {
    display: inline-block;
    padding: 50px;
    text-decoration: none;
}

.nav-top {
    font-size: 1.25rem;
}

.definitions {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
