html {
    margin: 0px auto;
    padding: 0px;
    
    font: normal 100%/1.4 Georgia, serif;
}

body {
    color: #212F3D;
    margin: 40px;
    background-color: #FAFAFA;
}

.main-header {
    margin: 0 auto;
    text-align: center;
}

.footer {
    margin: 10px auto;
    padding: 3px;
    text-align: center;
    background-color: #212F3D;
    color: #FFF;
    font-size: 1.25rem;

}

.current {
    text-decoration: underline;
}

.nav {
    margin: 0px;
    padding: 5px;
    background-color: #212F3D;
    list-style-type: none;

}

.nav > li {
    display: inline-block;
    padding: 3px 50px;
    text-decoration: none;
}

.nav li a {
    text-decoration: none;
    color: #FFF;
    display: block;
    padding: 0px;
    transition: .2s color;
}

.nav li a:active {
    text-decoration: none;
    color: #edeff1;
}


.nav li a:hover {
    text-decoration: none;
    color: #edeff1;
}

.nav-top {
    font-size: 1.25rem;
}

.nav-bottom {
    font-size: 1.25rem;
}

.definitions {
    border: 1.5px solid #212F3D;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}

.url-div {
    margin: 30 auto;
    padding: 30px;
    background-color: #fff;
}

.get-started-img {
    height: auto;
    width: 75%;
    display: block;
    margin: 0 auto;
}

.json-body-img {
    height: auto;
    width: 65%;
    display: block;
    margin: 0 auto;
}

.demo-image {
    height: auto;
    width: 65%;
    display: block;
    margin: 0 auto;
}
