<nav>
    <ul class="nav {{include.navclass}}">
	<li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
	<li><a href="{{site.baseurl}}/getting-started.html" class="{% if page.url == '/getting-started.html' %}current{% endif %}">Getting Started</a></li>
	<li><a href="{{site.baseurl}}/request..html" class="{% if page.url == '/request' %}current{% endif %}">Request</a></li>
	<li><a href="{{site.baseurl}}/response.html" class="{% if page.url == '/response.html' %}current{% endif %}">Response</a></li>
	<li><a href="{{site.baseurl}}/demo.html" class="{% if page.url == '/demo.html' %}current{% endif %}">Demo</a></li>
    </ul>
</nav>
